beautifulsoup4
boto3
botocore
celery
click
confluent-kafka
croniter
datadog
django-crispy-forms
django-picklefield
django-sudo
Django
djangorestframework
email-reply-parser
futures
google-api-core
google-auth
google-cloud-core
google-cloud-bigtable
# google-cloud-pubsub
google-cloud-storage
googleapis-common-protos==1.6.0
ipaddress
jsonschema
kombu
lxml
mistune
mmh3
msgpack
parsimonious
petname
phonenumberslite
Pillow
progressbar2
psycopg2-binary
PyJWT
python-dateutil
python-memcached
python3-saml
python-u2flib-server
PyYAML
qrcode
querystring_parser
rb
redis-py-cluster
redis
requests-oauthlib
requests[security]
sentry-sdk
simplejson
six
sqlparse
statsd
structlog
symbolic
toronado
# ua-parser
# unidiff
urllib3
# uwsgi

# not directly used, but provides a speedup for redis
# hiredis

# not directly used, but pinned for at least semaphore/symbolic
cffi

# not directly used, but pinned for toronado because it doesn't pin these
cssutils
cssselect

# not directly used, but needed
# setproctitle

# sentry-plugins specific dependencies
# phabricator

# test dependencies, but unable to move to requirements-test until sentry.utils.pytest and similar are moved to tests/
# mock
# percy
# selenium
